.comments {
  width: 100%;
}
.comments__box {
  display: flex;
  font-weight: normal;
  font-size: 20px;
  width: 700px;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
}
.comments__box__time {
  font-size: 10px;
  display: flex;
  align-items: flex-end;
  position: absolute;
  right: 80px;
  top: 13px;
}

.movie-show {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  border-radius: 1px solid black;
}
.movie-show__title {
  font-size: 30px;
  align-items: center;
  background-color: white;
  color: black;
  border-width: 10px; /*幅*/
  border-color: rgb(0, 196, 204); /*色*/
  border-style: groove; /*スタイル*/
  border-radius: 4px;
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: bold;
  width:290px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.comment {
  position: relative;
  margin-top: 30px;
  margin-bottom: 20px;
}
.comment__area {
  width: 400px;
}
.comment__btn {
  width: 100px;
  height: 50px;
  position: absolute;
  margin-left: 30px;
}
.people{
  font-weight: normal;
  font-size: 20px;
  padding-left: 150px;
}
.room{
  border: 1px solid black;
  background-color: azure;
  color:red;
margin-bottom:  13px;
}
.odai{
  font-weight: normal;

}
